# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* To recall and list data science languages
* To recall and list data science tools
* To familiarise ourselves with the commands and formats in Jupyter Notebooks

Some popular data science languages: 

1. Python
2. R
3. Java
4. SQL
5. Scala

Some commonly used data science libraries:
1. Matplotlib
2. Pandas
3. Scikit-learn
4. PyTorch
5. Keras

|Data Science Tools|
|:-----|
|Jupyter Notebook|
|Apache Hadoop|
|Apache Spark|

### 7 . Below are some arithmetic expressions in Python

a = 7  
b = a + 5

In [3]:
(3*4)+5 #this is a simple arithmetic expression to multiply then add integers

17

In [5]:
hours = 200/6
print(hours, " hours")

33.333333333333336  hours

## Author
Maitreyee Sar